package com.appinventor.testsmapijava.client;

public final class AmazonClientId {
    public static String getClientId() {
        return "string_of_client_id_from_https://sellercentral.amazon.com/hz/home";
    }
}
